.wrapper{
  padding-top: 100px;
}
#videoElement{
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}
.videoLocal{
  width: 400px;
  height: 400px;
  position:absolute;
  z-index: 1000;
  bottom:0;
  right: 20px;
}
.videoRemote{
  position:absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  width: 800px;
  height: 100vh;
  object-fit:contain ;
  z-index: 2;
  background-color: #60B768;
}
.videoBlock{
  position:absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  width: 800px;
  height: 100vh;
  object-fit:contain ;
  z-index: 2;
  background-color: #60B768;
}
.callOff{
  /* style={[{height:60,width:60, backgroundColor:'red', borderRadius:50}, s.center]} */
  height: 30px;
  width: 30px;
  padding: 10px;
  background-color: red;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.settings{
  /* background-color: blue; */
  position: absolute;
  bottom: 0px;
  left: 200px;
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
}
.time{
  position: absolute;
  right: 100px;
  top: 110px;
}

.patient_name{
  color: #FFF;
  text-align: center;
  margin-top: 140px;
  font-size: 24px;
  font-weight: 600;
}
.patient_avatar{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.connection{
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

@media(max-width:400px) {
  .videoRemote{
    width: 100%;
    height: 80%;
    background-color: white ;
  }
  .settings{
    width: 100%;
    left: 0;
    bottom: 20%;
  }
  .videoBlock{
    width: 100%;
    height: 80%;
  }
  .videoLocal{
    width: 100%;
    height: 20%;
  }
}